body {
  margin: 0;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  height: 150px;
  object-fit: contain;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
}

.navbar a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  color: #00ffcc;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}

.search {
  width: 50%;
  margin: 20px;
  padding: 10px;
}

.dark {
  background: #121212;
  color: white;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* CART PAGE */
.cart-container {
  padding: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
}

.cart-table th, .cart-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.cart-table th {
  background: #222;
  color: white;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-info img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.qty {
  margin: 0 10px;
  font-weight: bold;
}

.cart-table button {
  padding: 5px 10px;
  cursor: pointer;
}

/* SUMMARY */
.cart-summary {
  margin-top: 20px;
  text-align: right;
}

.checkout-btn {
  background: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* BACK BUTTON */
.back-btn {
  text-decoration: none;
  font-weight: bold;
}

/* EMPTY CART */
.empty {
  color: red;
}